  

  .homepage .content {
    max-width: 100%;
    margin-top: 5px;
    padding-left: 140px;
    padding-top: 50px;
    
    background-color: white;
  }

  .responsive-img {
    max-width: 500px;
    height: 450px;
    margin-left: 50px;
    margin-top: -100px;
  }
  
  .brand {
    color: #007bff;
    font-weight: 500;
  }
  .cta-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #45a049;
  }

  .feature-container {
    padding-bottom: 110px;
  }
