.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    z-index: 9999;
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: blue;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: blue;
    transition: width 0.3s ease;
  }
  
  .nav-link:hover {
    color: blue !important; /* Ensure the color change on hover */
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  .nav-links .icons {
    margin-left: 50px;
  }
  